# -------------------------Web Scrapping  Assignement -2-------------------------

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [ ]:
#Install Selenium 
!pip install selenium

In [74]:
#Import all required libraries 
import selenium
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
# Opening Browsers in Incognito using Options
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument('--incognito')

In [ ]:
driver=webdriver.Chrome(r"C:\\chromedriver.exe")

In [ ]:
#Get Data from Naukri.com
driver.get('https://www.naukri.com/')

In [ ]:
#finding Element for Job Search.
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")

In [ ]:
#Click on Search Button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [ ]:
# specifying the url of webpage to be scraped
url="https://www.naukri.com/data-analyst-jobs-in-banglore?k=data%20analyst&l=banglore"
driver.get(url)

In [ ]:
#Now we create 3 empty list for our requirment as Job title, Location and Company name 

job_titles=[]
company_name=[]
location_list=[]

In [ ]:
#Now we can extract all the title tags haiving job titles and we have to find first 10 job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

In [ ]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

In [ ]:
#Now we can extract all the title tags haiving job titles and we have to find first 10 companies Name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

In [ ]:
for i in companies_tags:
    company=i.text
    company_name.append(company)
company_name[0:10]

In [ ]:
#Now we can extract all the title tags haiving job titles and we have to find first 10 Location List
location_tags=driver.find_elements_by_xpath(".//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

In [ ]:
for i in location_tags:
    location=i.text
    location_list.append(location)
location_list[0:10]

In [ ]:
#Checking the length of lists
print(len(location_list),len(company_name),len(job_titles))

In [62]:
#Now we will make a data frame
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company Name']=company_name
jobs['Location Name']=location_list
jobs

,Title,Company Name,Location Name
0,NaN,Super India Tech Mark,Bangalore/Bengaluru(Devalapur)
1,NaN,tech mahindra ltd,Bangalore/Bengaluru
2,NaN,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru
3,NaN,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru
4,NaN,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru
5,NaN,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru
6,NaN,Concentrix Daksh Services India Private Limited.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
7,NaN,Cerner,Bangalore/Bengaluru
8,NaN,Cerner Corporation,Bangalore/Bengaluru
9,NaN,Flipkart Internet Private Limited,Bangalore/Bengaluru
10,NaN,Philips India Limited,Bangalore/Bengaluru
11,NaN,Capco Technologies Pvt Ltd,"Pune, Bangalore/Bengaluru"
12,NaN,GENPACT India Private Limited,Bangalore/Bengaluru
13,NaN,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru"
14,NaN,Happy Marketer Private Ltd,"Bangalore/Bengaluru, Mumbai (All Areas)"
15,NaN,Diverse Lynx,Bangalore/Bengaluru
16,NaN,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru
17,NaN,Optimize Overseas LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
18,NaN,LatentView Analytics Private Limited,"Chennai, Bangalore/Bengaluru"
19,NaN,Walmart Labs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [70]:
# This function opens the naukri home page and searches for 'Data Scientist' and 'Bangalore'

def naukri_desc(url):
    driver=webdriver.Chrome(r"C:\\chromedriver.exe")

    # 2. Enter “Data Scientist” in “Skill,Designations,Companies” field

    from selenium.common.exceptions import NoSuchElementException
    driver.get(url)
    try:
        job_search=driver.find_element_by_id('qsb-keyword-sugg')
        job_search.send_keys("Data Scientist")
    except NoSuchElementException as e:
        print("Exception Raised : ", e)

    # and enter “Bangalore” in “enter the location” field 
    location_search=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
    location_search.send_keys("Bangalore")

    # 3. Then click the search button
    search_buton=driver.find_element_by_xpath("//div[@class='search-btn']/button")
    search_buton.click()
    time.sleep(2)

    jobs=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

    job_titles=[]
    company_names=[]
    desc=[]

    from selenium.common.exceptions import NoSuchElementException         # Importing Exception

    for b in jobs:
        url=b.get_attribute('href')
        driver_1=webdriver.Chrome(r"C:\\chromedriver.exe")
        driver_1.get(url)
        try:
            i=driver_1.find_element_by_xpath("//h1[@class='jd-header-title']")
            j=driver_1.find_element_by_xpath("//a[@class='pad-rt-8']")
            k=driver_1.find_elements_by_xpath("//div[@class='dang-inner-html']")
        except NoSuchElementException as e:
            i=driver_1.find_element_by_xpath("//h1[@class='av-special-heading-tag ']")
            j=driver_1.find_element_by_xpath("//p[@class='cpName f14']")
            k=driver_1.find_elements_by_xpath("//div[@class='clearboth description']")


        job_titles.append(i.text)
        company_names.append(j.text)        
        # Collecting full description
        desc_content=[]
        for a in k:
            desc_content.append(j.text.replace('\n',' '))
        desc.append(desc_content)

        driver_1.close()
    
    jobs_2=pd.DataFrame({})
    jobs_2['job_titles']=job_titles
    jobs_2['company_names']=company_names
    jobs_2['Full Job Description']=desc
    
    driver.close()
    return(jobs_2)

In [71]:

df=naukri_desc('https://www.naukri.com/')
df

,job_titles,company_names,Full Job Description
0,Data Scientist,CronJ IT Technologies Private Limited,[Responsibilities and Duties Create innovative...
1,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,[Location - Bangalore / Bengaluru Duration- 6 ...
2,Data Scientist/ Analyst,Becton Dickinson India Pvt. Ltd,[Roles and Responsibilities ob Description Sum...
3,Data Scientist - Machine Learning,AugmatrixGo,[Roles and Responsibilities - Selecting feat...
4,Data Scientist || Data Analyst || Data science,Inspiration Manpower Consultancy Pvt. Ltd.,[Job description Job Summary and Key Responsib...
5,Data Scientist/Senior Data Scientist,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,[About Ganit Inc Founded by senior industry e...
6,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,[Roles and Responsibilities Must have strong ...
7,GLOBAL MEDICAL DATA SCIENTIST,GlaxoSmithKline Pharmaceuticals Limited,[This is an ideal role for an experienced cand...
8,Associate Data Scientist - CRM & Loyalty,Shell India Markets Private Limited,[The Role General Position Definition This rol...
9,DATA SCIENTIST – ADVANCED ANALYTICS,IBM India Pvt. Limited,"[Introduction As a Data Scientist at IBM, you ..."

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [83]:
# This function opens the naukri home page and searches for 'Data Analyst' and 'Bangalore'

def naukri_advance_filters(url):
    chrome_options = Options()
    chrome_options.add_argument('--incognito')
    driver=webdriver.Chrome(r"C:\\chromedriver.exe")
    # 1. first get the webpage https://www.naukri.com/
    driver.get(url)
    
    # 2. Enter “Data Scientist” in “Skill,Designations,Companies” field 
    job_search=driver.find_element_by_id('qsb-keyword-sugg')
    job_search.send_keys("Data Scientist")
 
    # 3. Then click the search button
    search_buton=driver.find_element_by_xpath("//div[@class='search-btn']/button")
    search_buton.click()
    time.sleep(2)
    
    # 4. Then apply the location filter and salary filter by checking the respective boxes

    chk=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']/label[@for='chk-Delhi / NCR-cityTypeGid-']/i")
    chk.click()
    time.sleep(2)
    chk=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']/label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
    chk.click()
    time.sleep(2)

    # 5. Then scrape the data for the first 10 jobs results you get.
    job_titles=[]
    title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
    for i in title_tags:
        job_titles.append(i.text)
    
    company_names=[]
    company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
    for i in company_tags:
        company_names.append(i.text)
        
    experience_list=[]
    exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[:10]
    for i in exp_tags:
        experience_list.append(i.text)
        
    locations_list=[]
    loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]
    for i in loc_tags:
        locations_list.append(i.text)
        
    jobs=pd.DataFrame({})
    jobs['Job Title']=job_titles
    jobs['Company Name']=company_names
    jobs['Location']=locations_list
    jobs['Experience']=experience_list
    
    driver.close()
    return(jobs)

In [84]:
df=naukri_advance_filters('https://www.naukri.com/')
df

,Job Title,Company Name,Location,Experience
0,Developer - Data Science,ICL Systems India Private Limited,Delhi / NCR,3-5 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",5-10 Yrs
2,Data Scientist,Amity University,"Ghaziabad, Faridabad, Delhi / NCR",6-8 Yrs
3,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
4,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs
5,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",3-8 Yrs
6,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-7 Yrs
7,Data Scientist - Python & Machine Learning (IS...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
8,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
9,Hiring For Data Scientist,Max Bupa Health Insurance Company Limited,"Gurgaon/Gurugram, Delhi / NCR",1-6 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [119]:

def glassdoor(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(r"C:\\chromedriver.exe")
    driver.get(url)
    
    # Sign in Option
    sign_in=driver.find_element_by_xpath("//div[@class='locked-home-sign-in']/a")
    url=sign_in.get_attribute('href')
    driver_2=webdriver.Chrome(r"C:\\chromedriver.exe")
    driver_2.get(url)
    time.sleep(2)
    email=driver_2.find_element_by_id('userEmail')
    email.send_keys('sarangkatre@gmail.com')
    passw=driver_2.find_element_by_id('userPassword')
    passw.send_keys('Sarang@123')
    sign_in_button=driver_2.find_element_by_xpath("//div/button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
    sign_in_button.click()
    time.sleep(2)
    driver.close()
    
    # searching required fields
    job_search=driver_2.find_element_by_id('sc.keyword')
    job_search.send_keys('Data Scientist')
    
    location=driver_2.find_element_by_id('sc.location')
    from selenium.webdriver.common.keys import Keys
    location.send_keys(Keys.CONTROL + "a")
    location.send_keys(Keys.DELETE)
    location.send_keys('Noida')
    
    search_button=driver_2.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
    search_button.click()
    time.sleep(2)
    
    company_name=[]
    days_posted=[]
    rating=[]
    
    # Company and days posted are available but for ratings need to open in new window.
    # Opening new window
    
    from selenium.common.exceptions import NoSuchElementException         # Importing Exception
    new_page=driver_2.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a")[:10]
    
    for i in new_page:
        url=i.get_attribute('href')
        driver_3=webdriver.Chrome(r"C:\\chromedriver.exe")
        driver_3.get(url)
        time.sleep(2)
        try:
            a=driver_3.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']")
            rating.append(a.text.replace('\n★',''))
        except NoSuchElementException as e:
            rating.append("No Rating")
        driver_3.close() 
       
    comps=driver_2.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")[:10]
    for i in comps:
        company_name.append(i.text)
        
    days=driver_2.find_elements_by_xpath("//div[@data-test='job-age']")[:10]
    for i in days:
        days_posted.append(i.text)
         
    jobs=pd.DataFrame({})
    jobs['Company Name']=company_name
    jobs['Days Since Posted']=days_posted
    jobs['Rating']=rating
    
    driver_2.close()
    
    return(jobs)

In [120]:
df=glassdoor('https://www.glassdoor.co.in/index.htm')
df

                                   Company Name Days Since Posted     rating
0                                      Randstad               14d        3.8
1                              CIEL HR Services               15d        4.3
2                             Darshan Soft-Tech               23d        4.2
3  Service industry for Pharmaceuticals company               23d  No Rating
4            Kreate Konnect E Solutions Pvt Ltd               24d  No Rating
5                           99Plus IT Solutions               23d  No Rating
6                    Edubooks Solutions Pvt Ltd                1d  No Rating
7                    Stemmons Business Services               24d        3.3
8             Engineering manufacturing company               23d        3.1
9                        K.T.Automation (India)               20d  No Rating

# Q 5 Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [134]:
def glassdoor_2(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(r"C:\\chromedriver.exe")
    driver.get(url)
     
    # searching required fields
    job_search=driver.find_element_by_id('KeywordSearch')
    job_search.send_keys('Data Scientist')
    
    location=driver.find_element_by_id('LocationSearch')
    location.clear()
    location.send_keys('Noida')
        
    search_buton=driver.find_element_by_id("HeroSearchButton")
    search_buton.click()
    time.sleep(2)
    
    comp=[]
    number_of_salaries=[]
    avg_salary=[]
    min_salary=[]
    max_salary=[]
    
    a=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")[:10]
    for i in a:
        comp.append(i.text)
        
    b=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")[:10]
    for i in b:
        number_of_salaries.append(i.text.replace(' salaries',''))
        
    c=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")[:10]
    for i in c:
        avg_salary.append(i.text)
        
    d=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")[:10]
    for i in d:
        min_salary.append(i.text)
        
    e=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")[:10]
    for i in e:
        max_salary.append(i.text)
         
    jobs=pd.DataFrame({})
    jobs['company_names']=comp
    jobs['number_of_salaries']=number_of_salaries
    jobs['avg_salary']=avg_salary
    jobs['min_salary']=min_salary
    jobs['max_salary']=max_salary
    
    driver.close()
    
    return(jobs)

In [135]:
df=glassdoor_2('https://www.glassdoor.co.in/Salaries/index.htm')
df

,company_names,number_of_salaries,avg_salary,min_salary,max_salary
0,Tata Consultancy Services,14,"₹ 6,01,000",₹336L,"₹1,080L"
1,Accenture,14,"₹ 11,51,207",₹579L,"₹2,222L"
2,Delhivery,14,"₹ 12,34,207",₹452L,"₹11,669L"
3,IBM,13,"₹ 7,63,825",₹589L,"₹2,741L"
4,Ericsson-Worldwide,12,"₹ 7,32,209",₹350L,"₹1,619L"
5,UnitedHealth Group,10,"₹ 13,88,910","₹1,050L","₹1,500L"
6,Valiance Solutions,9,"₹ 8,18,515",₹504L,"₹1,471L"
7,Innovaccer,8,"₹ 12,01,403",₹623L,"₹1,702L"
8,ZS Associates,7,"₹ 10,00,000",₹203L,"₹1,817L"
9,EXL Service,7,"₹ 11,90,000",₹578L,"₹1,500L"

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount

In [136]:
def flipkart_100(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(r"C:\\chromedriver.exe")
    driver.get(url)
    
    #Closing Pop-up
    close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close_button.click()    
    
    
    # searching required fields
    search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    search.send_keys('sunglasses')
    
    search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_button.click()
    time.sleep(5)
    
    brand=[]
    des=[]
    price=[]
    discount=[]
    
    def extract(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[1]")[:number]
        for i in a:
            price.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[3]")[:number]
        for i in a:
            discount.append(i.text)
    
    while(len(discount)<40):
        extract(driver,40)
        
    while(len(discount)<80):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver_2=webdriver.Chrome(r"C:\\chromedriver.exe")
        url=next.get_attribute('href')
        driver_2.get(url)
        extract(driver_2,40)
    
    while(len(discount)<100):
        next=driver_2.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        driver_3=webdriver.Chrome(r"C:\\chromedriver.exe")
        url=next.get_attribute('href')
        driver_3.get(url)
        extract(driver_3,20)  
    
    jobs=pd.DataFrame({})
    jobs['Brand']=brand
    jobs['Description']=des
    jobs['Price']=price
    jobs['Discount']=discount
    
    driver.close()
    driver_2.close()
    driver_3.close()
    
    return(jobs)

In [137]:
df=flipkart_100('https://www.flipkart.com/')
df

,brand,des,price,discount
0,Aislin,"UV Protection, Gradient Butterfly, Wayfarer Su...",₹574,62% off
1,Aislin,"UV Protection, Gradient Wayfarer, Round Sungla...",₹764,76% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹666,16% off
4,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹499,50% off
...,...,...,...,...
95,NuVew,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹262,73% off
96,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹865,3% off
97,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹426,84% off
98,Aislin,"UV Protection, Others Aviator Sunglasses (58)","₹1,027",72% off
99,DEIXELS,UV Protection Rectangular Sunglasses (Free Size),₹211,85% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [140]:
def flipkart_reviews(url):

    driver_1 = webdriver.Chrome(r"C:\\chromedriver.exe")
    driver_1.get(url)
    
    # Opening full reviews
    full=driver_1.find_element_by_xpath("//div[@class='col JOpGWq']/a")
    driver=webdriver.Chrome(r"C:\\chromedriver.exe")
    url=full.get_attribute('href')
    driver.get(url)
    driver_1.close()
       
    rating=[]
    review_summary=[]
    full_review=[]
    
    def extract(driver):
                
        a=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in a:
            rating.append(i.text)

        a=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in a:
            review_summary.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        for i in a:
            full_review.append(i.text)
    
    while(len(full_review)<10):
        extract(driver)
        
    while(len(full_review)<100):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver=webdriver.Chrome(r"C:\\chromedriver.exe")
        url=next.get_attribute('href')
        driver.get(url)
        extract(driver)  
    
    jobs=pd.DataFrame({})
    jobs['Rating']=rating
    jobs['Review Summary']=review_summary
    jobs['Full Review']=full_review
    
    driver.close()

    return(jobs)

In [141]:
df=flipkart_reviews('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
df

,rating,review_summary,full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
96,5,Must buy!,It’s an amazing product from apple and the cam...
97,5,Wonderful,This is my first ever I phone. Before this I w...
98,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
99,5,Mind-blowing purchase,This will help you more. See if you are planni...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [142]:
def flipkart_100_sneakers(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(r"C:\\chromedriver.exe")
    driver.get(url)
    
    #Closing Pop-up
    close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close_button.click()    
    
    
    # searching required fields
    search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    search.send_keys('sneakers')
    
    search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_button.click()
    time.sleep(5)
    
    brand=[]
    des=[]
    price=[]
    discount=[]
    
    def extract(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[1]")[:number]
        for i in a:
            price.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[3]")[:number]
        for i in a:
            discount.append(i.text)
    
    while(len(discount)<40):
        extract(driver,40)
        
    while(len(discount)<80):
        next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        driver_2=webdriver.Chrome(r"C:\\chromedriver.exe")
        url=next.get_attribute('href')
        driver_2.get(url)
        extract(driver_2,40)
    
    while(len(discount)<100):
        next=driver_2.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
        driver_3=webdriver.Chrome(r"C:\\chromedriver.exe")
        url=next.get_attribute('href')
        driver_3.get(url)
        extract(driver_3,20)  
    
    jobs=pd.DataFrame({})
    jobs['Brand']=brand
    jobs['Description']=des
    jobs['Price']=price
    jobs['Discount']=discount
    
    driver.close()
    driver_2.close()
    driver_3.close()
    
    return(jobs)

In [143]:
df=flipkart_100_sneakers('https://www.flipkart.com/')
df

,brand,des,price,discount
0,Magnolia,Sneakers For Men,₹404,73% off
1,BRUTON,Combo Pack Of 3 Casual Sneakers For Men,₹499,80% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
...,...,...,...,...
95,Edoeviv,Sneakers For Men (White 8) Sneakers For Men,₹464,41% off
96,Robbie jones,Sneakers For Men,₹499,50% off
97,PUMA,Rigel IDP Sneakers For Men,"₹1,287",54% off
98,Wika,Sneakers For Men,₹449,55% off
99,BRUTON,Combo Pack Of 4 Casual Sneakers For Men,₹474,88% off

# Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [144]:
def myntra(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument("--incognito")

    driver = webdriver.Chrome(r"C:\\chromedriver.exe")
    driver.get(url)

    # Adding required filters
    # [Actual Value for this search = Rs. 7649 to Rs. 15099]
    price=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label/div")
    price.click()
    time.sleep(2)
    
    color=driver.find_element_by_xpath("//li[@class='colour-listItem']/label/div")
    color.click()
    time.sleep(2)
    
    brand=[]
    des=[]
    price=[]
    
    def extract_2(driver,number):
                
        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")[:number]
        for i in a:
            brand.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]")[:number]
        for i in a:
            des.append(i.text)

        a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div/span[1]")[:number]
        for i in a:
            price.append(i.text)

    
    while(len(price)<50):
        extract_2(driver,50)
        
    while(len(price)<100):
        next=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
        driver_2=webdriver.Chrome(r"C:\\chromedriver.exe")
        url=next.get_attribute('href')
        driver_2.get(url)
        extract_2(driver_2,50) 
    
    jobs=pd.DataFrame({})
    jobs['Brand']=brand
    jobs['Description']=des
    jobs['Price']=price
    
    driver.close()
    driver_2.close()
    
    return(jobs)

In [145]:
df=myntra('https://www.myntra.com/shoes')
df

           brand                            des               price
0           Nike     Men AIR ZOOM Running Shoes  Rs. 10796Rs. 13495
1           Nike  Men REACT MILER Running Shoes   Rs. 8796Rs. 10995
2           Nike         Women AIR ZOOM Running  Rs. 10796Rs. 13495
3           Nike            Women Running Shoes   Rs. 7796Rs. 11995
4           Nike   Women AIR ZOOM Running Shoes    Rs. 7496Rs. 9995
..           ...                            ...                 ...
95  Hush Puppies             Men Leather Derbys            Rs. 7999
96         Ruosh     Men Textured Leather Monks            Rs. 6990
97  Hush Puppies           Men Textured Oxfords            Rs. 6999
98       Bugatti           Women Black Sneakers            Rs. 7999
99  UNDER ARMOUR  Women Charged Breathe OIL SLK            Rs. 8999

[100 rows x 3 columns]